<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="f2aec89e-b8e8-47eb-ba6e-6473125f19a3" Publisher="CN=Nishant" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Project</DisplayName>
    <PublisherDisplayName>Nishant</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Project.App">
      <VisualElements DisplayName="Project" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Project" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>